.container{
    width: 100%;
    height: 100%;
}

#header {
    width: 102vw !important;
    height: 75px;
    line-height: 90px;
    color: #fff;
    background-color:lightblue;
    box-shadow: 0px 0px 5px 5px #d3d3d3;position: relative;
}

.company-name {
    font-size: 34px;
    color: white;
    position: absolute;
    float: left;
    margin-left: 19%;
    font-family: 'Short Stack', cursive;
    letter-spacing: 4px;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    font-weight: 800;

}

#logo {
    text-align: left;
    color: white;
    margin-left: 10%;
    float: left;
    margin-top: 18px;
    position: absolute;
    width: 3%;
}

.adv {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    align-items: center;
    left: 48%;
    top: -33%;
}

#logo {
    text-align: left;
    color: white;
    margin-left: 15%;
}


#title {
    font-family: 'Roboto', sans-serif;
    font-size: 3.9vw;
    color: red;
    letter-spacing: 2px;
    margin-top: 40px;
    width: 100%;
    font-weight: 900;
    text-align: center;
}

.text-left {
    text-align: left!important;
    margin-left: -15px;
    font-size: 33px;
    color: darkblue;
}


.btn-row {
    width: 100%;
}

.card-container {
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 170px;
    background-color: beige;
    padding: 40px;
    float: right;
    /* margin-left: 55%; */
    border-radius: 15px;
    box-shadow: 0px 0px 8px 8px #d3d3d3;
}

.card-txt {
    position: absolute;
    font-size: 26px;
    margin-top: -33px;
    text-align: center;
    margin-left: -39px;
    color: black;
}

.top-btn {
    width: 90%;
    margin-left: -15px;
    margin-top: 58px;
    position: absolute;
    height: auto;
    background-color: red;
    color: white;
    float: right;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px #d3d3d3;
}

.orderNow {
    font-weight: 600;
    border-bottom: 1px solid darkblue;
    font-size: 1.6vw;
    color: darkblue
}

.orderNow:hover {
    background-color: red;
}

.sponsored {
    font-size: .8vw;
    color: gray;
}

.split {
    border-bottom: 1px solid gray;
}

.top-img {
    width: 100%;
    float: left;
    clear: both;
    box-shadow: 0px 0px 5px 5px #d3d3d3;
    margin-right: 25px;
    margin-bottom: 40px;
}
.pre-paragraph {
    margin-top: 20px;
}

.big-letter {
    float: left;
    color: rgba(0,0,0,0.5);
    font-size: 7vw;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: Georgia;
    margin-top: 12px;
}

.image-font {
    font-size: 2vw;
    color: red;
    letter-spacing: 1px;
    margin-top: 25px;
}

.container-mid {
    width: 100%;
    border: 1px solid darkblue;
    background-color: lightblue;
    margin-bottom: 80px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #d3d3d3;

}

.bold-break {
    font-size: 3vw;
    color: rgba(0,0,0,0.5);
    text-align: center;
}

.sales-images {
    width: 100%;
    margin-top: 50px;
    padding: 5px;
    box-shadow: 0px 0px 5px 5px #d3d3d3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    background-color: #4e4e4e;
    color: #d3d3d3;
    margin-top: 170px;
    bottom: 0;
    padding: 10px;
    width: 100vw;
}

.bold-break-1 {
    font-size: 2vw;
    color: rgba(0,0,0,0.5);
    text-align: left;
    margin-top: 50px;
}

.mybtn {
    background-color: red;
    color: white;
    padding: 60px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 15px;
    font-size: 2vw;
    width: 70%;
}

.mybtn:hover {
    text-decoration: underline;
    border: 10px solid darkblue;
}

.mid-container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: lightblue;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px yellow;
    box-shadow: inset 0 1px 1px yellow;
    font-family: 'Short Stack', cursive;
    text-align: center;
}

.mid-btn  {
    width: 100%;
    margin-top: 24px;
    background-color: red;
    border: 1px solid whitesmoke;
    color: white;
    padding: 10px;
    border-radius: 9px;
}
.mid-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.middle-btn {
    width: 100%;
    background-color: red;
    border: 1px solid whitesmoke;
    color: white;
    padding: 35px;
    font-size: 40px;
    border-radius: 9px; 
    box-shadow: 0px 0px 5px 5px #d3d3d3;
}
.middle-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-middle {
    color: darkblue;
    font-size: 21px;
    text-align: center;
    font-weight: 500;
}

.mid-txt {
    font-weight: 800;
    margin-top: 17px;
    font-size: 24px;
    color: red;
}